<!DOCTYPE html>

<html ng-app="charliedog">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Theme/img/icon.ico" />
    <title>Charlie & Dog</title>
    <link href="~/Theme/css/reset.css" rel="stylesheet" />
    <link href="~/Theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Theme/css/base.min.css" rel="stylesheet" />
    <link href="~/Theme/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" type="text/css">
    <script src="~/Scripts/js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="~/Scripts/js/modernizr-2.6.2-respond-1.1.0.min.js" type="text/javascript"></script>
    <script src="~/Scripts/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/angular-animate.min.js"></script>
    <script src="~/Scripts/lib/main.js"></script>
    <script src="~/Scripts/lib/controller/fotos-controller.js"></script>
    <script src="~/Scripts/lib/controller/checkout-controller.js"></script>
    <script src="~/Scripts/lib/controller/footer-controller.js"></script>
    <script src="~/Scripts/lib/directives/minha-diretiva.js"></script>
    
</head>
<body >
    @RenderBody()
</body>
</html>
